*{
    margin: 0;
    padding: 0;
}
body{background-color: orangered;}

.divtop{
    background-image: url(./R.jfif);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    width: 100%;
    border: 1px solid black;
    color: white;
}

#grow{
    margin: 50px 500px;
}
 
.divtop a{
    color: white;
    margin: 50px 50px;
}

.lead{
    margin: 50px 900px;
    width: 300px;
    /* border: 1px solid black; */
}